.SideDrawer {
    width: 280px;
    position: fixed;
    max-width: 70%; /* so it does not go over the edges on naroow devices */
    height: 100%; /* to take the full screen height */
    left: 0;
    top:0;
    z-index: 200; /* this is higher than Backdrop */
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out; /* this will take effect when opening/closing */
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}
